@import url(font.css);

#container {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background: #135d66;
  display: flex;
  flex-flow: row;
}

#logos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
}

img {
  width: 32.03125vw;
  height: 32.03125vw;
}

#loginbox {
  height: auto;
  background-color: #ffffff;
  width: 40vw;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3.729166666666667vw 0 0 3.729166666666667vw;
}

label {
  font-weight: 600;
  font-style: normal;
  font-size: 1.5625vw;
  user-select: none;
}

#usernameSect,
#passwordSect {
  margin-bottom: 2.8645833333333335vw;
}

.inputbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ececec;
  width: 27vw;
  height: 6.5vh;
  margin-top: 0.5208333333333334vw;
  /* border-radius: 1.0416666666666667vw; */
}

.inputbox input {
  background-color: #ffffff00;
  padding-left: 1.5625vw;
  /* border-radius: 1.0416666666666667vw; */
  border: none;
  width: 100%;
  height: 100%;
  font-size: 1.2625vw;
  outline: none;
}

.inputbox img {
  width: 1.5625vw;
  height: 1.5625vw;
  position: relative;
  margin-right: 0.78125vw;
  cursor: pointer;
}

.inputbox:focus-within {
  background-color: #cacaca;
  outline: none;
  transition: ease 0.1s;
}

#submitbtn {
  width: 100%;
  height: 6.5vh;
  border: none;
  font-size: 1.3020833333333333vw;
  background-color: #135d66;
  color: white;
  font-weight: 400;
  /* border-radius: 1.0416666666666667vw; */
  margin-top: 5vh;
}

#submitbtn:hover {
  background-color: #003c43;
  transition: ease 0.5s;
  cursor: pointer;
}
