@import url(font.css);

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #717171;
}

.container {
  background-color: #717171;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.receiptContainer {
  background-color: var(--whiteColor);
  position: relative;
  border-radius: 0.5vw;
  padding: 1.3020833333333333vw;
  height: auto;
  width: 20%;
}

.receiptHeader {
  display: flex;
  align-items: center;
  margin-bottom: 1.5vw;
  flex-direction: column;
  justify-content: center;
}

.receiptHeader img {
  width: 13.125vw;
}

.receiptHeader p {
  font-size: 0.625vw;
  font-weight: 400;
}

.receiptDateAndTags {
  display: flex;
  margin-bottom: 1.5vw;
  justify-content: space-between;
}

.receiptDateAndTags p {
  font-size: 0.6770833333333334vw;
}

.receiptOrders {
  width: 100%;
  font-weight: 500;
  margin-bottom: 1.5vw;
  border-collapse: collapse;

  /* background-color: aqua; */
}

.receiptTotal {
  width: 100%;
  font-weight: 500;
  margin-bottom: 1.5vw;
  border-collapse: collapse;

  /* background-color: aqua; */
}

.receiptChange {
  font-size: 14px;
  text-align: center;
  margin-bottom: 1.5vw;
}

/* Footer */
.receiptFooter {
  font-size: 12px;
  text-align: center;
}

.receiptButtons {
  width: 35vw;
  display: flex;
  margin-top: 1.5vw;
  flex-direction: row;
  justify-content: space-around;
}

.receiptButtons a {
  background-color: var(--blueColor);
  color: var(--whiteColor);
  text-decoration: none;
  border-radius: 0.5vw;
  font-weight: 600;
  font-size: 1vw;
  outline: none;
  padding: 1vw;
}

.receiptButtons a[href="pos.php"] {
  background-color: var(--redColor);
}

.receiptButtons a:hover {
  background-color: var(--whiteColor);
  color: var(--blackColor);
}
